.header {
  height: 50px;
  position: fixed;
  background-color: #161645;
  width: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  padding: 7px 0px 8px;
  border-bottom: 1px solid #404040;
  transition: all .2s ease-in-out; }
  .header.drop-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04); }
  .header .logo {
    display: block;
    padding-top: 2px; }
  .header .logo img {
    height: 30px; }
  .header .header-links {
    margin: 3px 0 0;
    padding: 0;
    line-height: 1;
    overflow: visible; }
    .header .header-links li {
      margin: 0 4px;
      padding: 0; }
    .header .header-links a {
      display: block;
      font-size: 24px;
      color: #90A4AE;
      padding: 5.5px;
      transition: all .3s ease-in-out;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
    .header .header-links a:hover {
      background: #ECEFF1; }
    .header .header-links .search-icon-holder {
      display: none; }
    .header .header-links .notification-icon-holder {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header .header-links .notification-icon-holder span.notification-number {
        font-size: 12px;
        display: block;
        height: 24px;
        width: 24px;
        line-height: 1;
        background: #F44336;
        color: #FFF;
        padding: 6px 0;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        text-align: center; }
      .header .header-links .notification-icon-holder .notifications-dropdown {
        position: absolute;
        top: 100%;
        right: -24px;
        width: 400px;
        height: auto;
        background: #fafafa;
        margin-top: 8px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        max-height: 600px; }
        .header .header-links .notification-icon-holder .notifications-dropdown .notif-header {
          padding: 12px;
          overflow: auto;
          border-bottom: 1px solid #cfd8dc;
          background: #FFF;
          border-top: 1px solid #ECEFF1;
          -webkit-border-radius: 2px 2px 0 0;
          -moz-border-radius: 2px 2px 0 0;
          border-radius: 2px 2px 0 0; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notif-header p {
            font-size: 14px;
            color: #607D8B;
            line-height: normal;
            margin: 6px 0 0; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notif-header a.mark-read {
            float: right;
            display: inline-block;
            font-size: 14px;
            color: #78909C;
            padding: 8px;
            line-height: 1; }
        .header .header-links .notification-icon-holder .notifications-dropdown .notif-container {
          height: calc(100vh - 57px - 109px);
          max-height: 500px;
          overflow: hidden;
          position: relative;
          width: 100%;
          border-bottom: 1px solid #cfd8dc; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notif-container .loading-notifications {
            padding: 48px 0;
            width: 100%;
            text-align: center; }
            .header .header-links .notification-icon-holder .notifications-dropdown .notif-container .loading-notifications i {
              font-size: 56px;
              color: #B0BEC5;
              -webkit-animation: bell-animation .8s infinite;
              -moz-animation: bell-animation .8s infinite;
              -o-animation: bell-animation .8s infinite;
              animation: bell-animation .8s infinite; }
        .header .header-links .notification-icon-holder .notifications-dropdown .no-notification-div {
          height: 300px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          text-align: center; }
          .header .header-links .notification-icon-holder .notifications-dropdown .no-notification-div .content-wrapper {
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
            width: 100%; }
          .header .header-links .notification-icon-holder .notifications-dropdown .no-notification-div i {
            font-size: 56px;
            color: #cfd8dc;
            margin-bottom: 24px; }
          .header .header-links .notification-icon-holder .notifications-dropdown .no-notification-div p {
            font-size: 16px;
            font-weight: 300;
            color: #78909C; }
        .header .header-links .notification-icon-holder .notifications-dropdown .notification-card {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          color: #546E7A;
          width: 100%;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          background: #FFF;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          padding: 8px 0;
          border-top: none;
          border-bottom: 1px solid rgba(176, 190, 197, 0.4); }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card:hover {
            background-color: #fafafa; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .unread {
            background: #E0F7FA; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .unread .notif-icon i {
            color: #607D8B; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-icon {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-icon i {
            margin: 2px 0 0;
            line-height: 1;
            color: #90A4AE;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body {
            padding-right: 28px; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body p {
            margin: 0;
            padding: 0;
            line-height: normal; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .text-prime {
            margin-bottom: 4px; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .text-prime a {
            color: #546E7A; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .notif-time, .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .post-title {
            font-size: 12px;
            color: #90A4AE; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .post-title {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .notif-time {
            color: #B0BEC5; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .notif-time i {
            margin-left: 4px; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .profile-faces {
            margin: 8px 0 0; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .profile-faces li {
            margin: 0 0 12px; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .profile-faces li a {
            display: block;
            width: 35px;
            height: 35px;
            overflow: hidden;
            margin-right: 8px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            background: #ECEFF1;
            position: relative; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .profile-faces li a img {
            width: 100%;
            height: auto; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .profile-faces li a::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            border: 1px solid rgba(0, 0, 0, 0.1); }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-icon {
            width: 56px;
            text-align: center; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-icon i {
            font-size: 20px; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body {
            width: calc(100% - 56px); }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .text-prime {
            font-size: 13px; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card .notif-body .post-title {
            margin-bottom: 2px; }
          .header .header-links .notification-icon-holder .notifications-dropdown .notification-card a {
            display: inline-block;
            font-size: 13px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            padding: 0;
            -webkit-transition: all none ease-out;
            -moz-transition: all none ease-out;
            -o-transition: all none ease-out;
            transition: all none ease-out;
            background: 0 0; }
        .header .header-links .notification-icon-holder .notifications-dropdown .all-notif-link {
          font-size: 14px;
          padding: 12px;
          -webkit-border-radius: 0 0 2px 2px;
          -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
          background: #FFF;
          color: #546E7A;
          text-align: right; }
        .header .header-links .notification-icon-holder .notifications-dropdown:before {
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 12px solid #E0E0E0;
          content: "";
          position: absolute;
          top: -12px;
          right: 30px; }
    .header .header-links a.profile-photo {
      padding: 0;
      height: 35px;
      width: 35px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden;
      position: relative; }
    .header .header-links a.profile-photo img {
      width: 100%; }
    .header .header-links a.profile-photo::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1); }
  .header .input-wrapper {
    position: relative; }
  .header .input-wrapper i.search-icon {
    position: absolute;
    font-size: 22px;
    top: 11px;
    left: 6px;
    color: #90A4AE;
    z-index: 9; }
  .header .input-wrapper .clear-search {
    display: block;
    position: absolute;
    font-size: 16px;
    top: 9.5px;
    right: 12px;
    color: #90A4AE;
    z-index: 12; }
  .header .input-wrapper .clear-search:hover {
    color: #78909C; }
  .header .input-wrapper input {
    position: relative;
    z-index: 10;
    height: auto;
    margin: 5px 0 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    border-bottom: 1px solid transparent;
    font-size: 15px;
    padding: 6px 6px 6px 34px;
    display: inline-block;
    width: 170px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-weight: 400;
    color: #424242; }
  .header .top-bar, .header .top-bar .top-bar-section ul li {
    background: #f2f2f2; }
  .header .input-wrapper input::-webkit-input-placeholder {
    color: #B0BEC5;
    font-weight: 300; }
  .header .input-wrapper input::-moz-placeholder {
    color: #B0BEC5;
    font-weight: 300; }
  .header .input-wrapper input:-ms-input-placeholder {
    color: #B0BEC5;
    font-weight: 300; }
  .header .input-wrapper input:focus {
    width: 400px;
    padding: 6px 28px 6px 34px; }
  .header .input-wrapper input:focus::-webkit-input-placeholder {
    color: #cfd8dc;
    font-weight: 300; }
  .header .input-wrapper input:focus::-moz-placeholder {
    color: #cfd8dc;
    font-weight: 300; }
  .header .input-wrapper input:focus:-ms-input-placeholder {
    color: #cfd8dc;
    font-weight: 300; }
  .header .top-bar {
    border-top: 1px solid #ECEFF1;
    border-bottom: 1px solid #cfd8dc;
    margin: 0 0 -16px;
    display: none; }
  .header .top-bar .top-bar-section ul li:first-child a {
    font-weight: 700; }
  .header .top-bar .top-bar-section ul li a {
    background: #f2f2f2;
    color: #546E7A;
    font-weight: 600; }
  .header .top-bar .top-bar-section ul li a svg {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 12px 0 0;
    top: 3px;
    position: relative;
    fill: #546E7A; }
  .header .top-bar .top-bar-section ul li a.active {
    border-left: 4px solid #26C6DA;
    padding-left: 8px; }
  .header .profile-actions {
    position: relative; }
    .header .profile-actions .profile-drawer {
      position: absolute;
      right: -4px;
      top: 100%;
      margin-top: 9px;
      width: 180px;
      background: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      z-index: 100; }
      .header .profile-actions .profile-drawer ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%; }
      .header .profile-actions .profile-drawer ul li {
        margin: 0; }
      .header .profile-actions .profile-drawer ul li a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-size: 13px;
        display: block;
        padding: 8px 14px;
        color: #607D8B; }
      .header .profile-actions .profile-drawer ul li a:hover {
        background: #F5F5F5; }
      .header .profile-actions .profile-drawer ul li.name a {
        font-weight: 600;
        color: #455A64;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto; }
      .header .profile-actions .profile-drawer ul li.name a small {
        display: block;
        font-size: 12px;
        color: #78909C;
        font-weight: 400; }
      .header .profile-actions .profile-drawer ul li.underline {
        border-bottom: 1px solid #ECEFF1; }
      .header .profile-actions .profile-drawer:before {
        content: " ";
        position: absolute;
        right: 13px;
        top: -16px;
        border: 8px solid transparent;
        border-bottom-color: #E0E0E0; }

header .login-component {
  float: right; }

.login-component {
  overflow: hidden;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.login-component a {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 12px;
  color: #FFF;
  line-height: 1;
  float: left;
  height: 40px;
  letter-spacing: .2px; }

.login-component a.main-login-button {
  background: #4182c3; }

.login-component a.main-login-button i {
  margin-right: 4px;
  font-size: 16px;
  top: 1px;
  position: relative;
  line-height: 0; }

.login-component a.more-option {
  background: rgba(65, 130, 195, 0.8);
  font-size: 22px;
  padding: 9px; }

@media (max-width: 640px) {
  .header-actions {
    margin: 16px 0;
    text-align: center; }
  .header .header-links {
    float: none !important;
    margin: 0 auto;
    display: inline-block; }
  .header .header-links .search-icon-holder, .header .top-bar {
    display: block; }
  .header .logo {
    margin: 4px auto; }
  .header .input-wrapper {
    display: none;
    width: 100%; }
  .header .input-wrapper input {
    width: 100%;
    border-bottom-color: #ECEFF1; }
  .header .input-wrapper input:focus {
    width: 100%; }
  .header .input-wrapper i.search-icon {
    display: none; }
  .header .input-wrapper.appear {
    display: block; }
  .header.non-logged-in .header-actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header.non-logged-in .header-actions .header-links {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0;
    display: none; }
  .header.non-logged-in .header-actions .login-component {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    float: none !important;
    align-self: center;
    margin: 0; }
  .header.non-logged-in.showsearch .input-wrapper {
    display: block;
    margin: 16px 0 0; } }

@media (max-width: 767px) {
  .header {
    height: auto;
    position: relative !important; }
  .header .logo {
    display: block; }
  .header .login-component {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .header .login-component .main-login-button {
    margin-left: 0; }
  .body-container {
    margin-top: 0 !important; } }

.main-nav-wrap {
  float: right;
  display: inline-block;
  margin: 6px 0 0; }

.main-nav-wrap .main-nav {
  list-style: none;
  margin: 0; }

.main-nav-wrap .main-nav li {
  display: inline-block;
  margin-right: 12px; }

.main-nav-wrap .main-nav li a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  padding: 4px;
  -webkit-transition: color .3s ease-in-out;
  -moz-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }

.main-nav-wrap .main-nav li a.active, .main-nav-wrap .main-nav li a:hover {
  color: #26C6DA; }

/**
* Typography
*/
/**
* Base Font: Titillium Web
*
* <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
*/
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web"), local("TitilliumWeb-Regular"), url(../fonts/7XUFZ5tgS-tD6QamInJTceHuglUR2dhBxWD-q_ehMME.woff2) format("woff2"), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTceHuglUR2dhBxWD-q_ehMME.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local("Titillium Web"), local("TitilliumWeb-Regular"), url(../fonts/7XUFZ5tgS-tD6QamInJTcSGR3J8a2Jm30YJvJ3tIMOY.woff2) format("woff2"), url(https://fonts.gstatic.com/s/titilliumweb/v4/7XUFZ5tgS-tD6QamInJTcSGR3J8a2Jm30YJvJ3tIMOY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

body, a, span, div, h1, h2, h3, h4 {
  font-family: "Titillium Web", NeoSans; }

/**
* Colors
*/
.bg-cgx-rose {
  background-color: #ac57a0; }

.bg-cgx-dark-blue {
  background-color: #0E1331; }

.bg-cgx-med-blue {
  background-color: #4152A3; }

.bg-cgx-light-grey {
  background-color: #F1F2F2; }

.bg-white {
  background-color: #FFFFFF; }

.text-white {
  color: #FFFFFF; }

.text-cgx-dark-grey {
  color: #585E5C; }

.text-cgx-mustard {
  color: #D9BB25; }

.text-cgx-dark-blue {
  color: #0E1331; }

.text-cgx-med-blue {
  color: #4152A3; }

.text-cgx-light-blue {
  color: #3BB5D3; }

.text-cgx-rose {
  color: #ac57a0; }

.text-larger {
  font-size: 110%; }

.menu a {
  color: #FFFFFF; }

/*
  @font-face {
      font-family: NeoSans;
      src: url('static/fonts/Neo Sans Std Regular.otf');
  }
  @font-face {
      font-family: NeoSans;
      src: url('static/fonts/Neo Sans Std Light.otf');
      font-weight: 100;
  }
  @font-face {
      font-family: NeoSans;
      src: url('static/fonts/Neo Sans Std Bold.otf');
      font-weight: bold;
  }*/
body {
  height: auto;
  background: #eceff1; }

.body-container {
  margin-top: 50px; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.inline-list {
  list-style: none;
  margin: 0 auto 1.0625rem;
  padding: 0; }

.inline-list > li {
  display: block;
  float: left;
  list-style: none;
  margin-left: 1.375rem; }

.inline-list > li > * {
  display: block; }

@media (max-width: 1023px) and (min-width: 640px) {
  /*    .company-nav-wrap {
        width:100%;
        text-align: right;
        margin: 24px 0 0
    }*/ }

@media (max-width: 640px) {
  .company-nav-wrap {
    display: block;
    width: 100%;
    float: none;
    margin: 12px 0 0; } }

.content-area {
  position: relative;
  background: #ECEFF1; }

.static-page {
  background: #FFF;
  min-height: 100vh; }

.static-page .btn-accent:hover {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.static-page .section-title {
  color: #212121;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center; }

.static-page .subtitle {
  color: #757575;
  font-size: 20px;
  margin: 0;
  text-align: center; }

.static-page .hero-section {
  height: calc(100vh - 50px);
  background: center #41509d;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

/*.static-page .hero-section:before {
    //background: rgba(38,198,218,.84);
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}*/
.static-page .hero-section .hero-content {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 830px;
  max-width: 100%;
  padding: 0 16px;
  text-align: center;
  z-index: 100; }

.static-page .hero-section .hero-content h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 300;
  color: #FFF;
  margin: 0;
  line-height: normal; }

.static-page .hero-section .hero-content .border-tag {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 0 0 24px; }

.static-page .hero-section.about-bg {
  background-image: url(); }

@media (max-width: 768px) {
  .static-page .hero-section .hero-content {
    width: 490px; }
  .static-page .hero-section .hero-content h2 {
    font-size: 36px; } }

@media (max-width: 640px) {
  .static-page .hero-section {
    height: calc(100vh - 177px); } }

.static-page .section-wrap {
  padding: 0 16px; }

.static-page .section-wrap.highlight {
  background: #eceff1; }

.static-page .section-wrap:after, .static-page .section-wrap:before {
  content: ' ';
  display: table; }

.static-page .section-wrap .section-row {
  max-width: 75rem;
  padding: 0 16px;
  margin: 0 auto; }

.static-page .section-wrap .section-row.content-wrap {
  margin: 120px auto; }

.static-page .section-wrap .section-row .text-wrap {
  width: 100%;
  max-width: 640px;
  margin: 0 auto; }

.static-page .section-wrap .section-row .career-title {
  margin: 0; }

.static-page .section-wrap .section-row .career-location {
  font-size: 14px;
  margin: 0;
  color: #757575; }

.static-page .section-wrap .section-row .extra-desc {
  margin: 40px 0 0; }

.static-page .section-wrap .section-row .heart {
  color: #EC5564; }

.static-page .section-wrap .section-row .feat-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin: 48px auto 0;
  max-width: 970px; }

.static-page .section-wrap .section-row .feat-wrap .prof-block {
  width: calc(100% / 3 - 32px);
  min-width: 290px; }

.static-page .section-wrap .section-row .prof-block {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #E0E0E0;
  box-shadow: 0 1px 2px #E0E0E0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 16px;
  padding: 16px;
  width: 290px;
  background: #fff; }

.static-page .section-wrap .section-row .prof-block .prof-cover {
  background-size: cover;
  background-repeat: no-repeat;
  height: 98px;
  width: calc(100% + 32px);
  margin: -16px -16px 16px; }

.static-page .section-wrap .section-row .prof-block .prof-img {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  display: block;
  margin-right: 12px;
  position: relative; }

.static-page .section-wrap .section-row .prof-block .prof-img img {
  width: 72px;
  height: 72px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  max-width: 100%; }

.static-page .section-wrap .section-row .prof-block .prof-img:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.14);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%; }

.static-page .section-wrap .section-row .prof-block .prof-info {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: calc(100% - 88px); }

.static-page .section-wrap .section-row .prof-block .prof-info .name, .static-page .section-wrap .section-row .prof-block .prof-info p.tagline {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.static-page .section-wrap .section-row .prof-block .prof-info .name {
  color: #212121;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  display: block; }

.static-page .section-wrap .section-row .prof-block .prof-info p {
  margin: 0;
  font-size: 14px;
  color: #757575; }

.static-page .section-wrap .section-row .prof-block .prof-info .soc-links {
  list-style: none;
  margin: 0;
  padding: 0; }

.static-page .section-wrap .section-row .prof-block .prof-info .soc-links li {
  margin: 0;
  display: inline-block; }

.static-page .section-wrap .section-row .prof-block .prof-info .soc-links li a {
  color: #757575; }

.static-page .section-wrap .section-row .prof-block .prof-info .soc-links li a.twitter {
  color: #1ea0f0; }

.static-page .section-wrap .section-row .prof-block .prof-info .soc-links li.middot {
  margin: 0 4px; }

.static-page .section-wrap .section-row .prof-block .prof-info .soc-links li.middot p {
  font-weight: 700; }

.static-page .section-wrap .section-row .timeline-wrap {
  position: relative;
  margin: 0 auto;
  max-width: 600px; }

.static-page .section-wrap .section-row .timeline-wrap .timeline {
  list-style: none;
  position: relative;
  margin: 32px 0;
  padding: 0 0 24px; }

.static-page .section-wrap .section-row .timeline-wrap .timeline:before {
  content: " ";
  background: #BBBDBF;
  position: absolute;
  width: 2px;
  height: calc(100% - 30px);
  top: 30px;
  left: calc(50% - 1px); }

.static-page .section-wrap .section-row .timeline-wrap .timeline li {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.static-page .section-wrap .section-row .timeline-wrap .timeline li:before {
  content: " ";
  position: absolute;
  width: 12px;
  height: 12px;
  background: #BBBDBF;
  top: calc(50% - 6px);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  left: calc(50% - 6px); }

.static-page .section-wrap .section-row .timeline-wrap .timeline li .timeline-block {
  width: calc(50% - 24px);
  background: #fff;
  padding: 16px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative; }

.static-page .section-wrap .section-row .timeline-wrap .timeline li .timeline-block:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  top: calc(50% - 8px); }

.static-page .section-wrap .section-row .timeline-wrap .timeline li .timeline-block p {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  color: #757575; }

.static-page .section-wrap .section-row .timeline-wrap .timeline li .timeline-block .step {
  font-weight: 700;
  margin-right: 6px; }

@media (max-width: 640px) {
  .static-page .section-wrap .section-row .timeline-wrap .timeline li .timeline-block {
    width: 100%;
    max-width: 280px;
    margin: 12px auto; }
  .static-page .section-wrap .section-row .timeline-wrap .timeline li .timeline-block:before {
    display: none; } }

.static-page .section-wrap .section-row .timeline-wrap .timeline li:nth-child(odd) {
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start; }

.static-page .section-wrap .section-row .timeline-wrap .timeline li:nth-child(odd) .timeline-block:before {
  border-left-color: #fff;
  right: -16px; }

.static-page .section-wrap .section-row .timeline-wrap .timeline li:nth-child(even) {
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end; }

.static-page .section-wrap .section-row .timeline-wrap .timeline li:nth-child(even) .timeline-block:before {
  border-right-color: #fff;
  left: -16px; }

.static-page .section-wrap .section-row .timeline-wrap .timeline-chevron {
  font-size: 28px;
  line-height: 1;
  color: #BBBDBF;
  position: absolute;
  bottom: -12px;
  left: calc(50% - 13.5px); }

.static-page .section-wrap .section-row .timeline-end {
  text-align: center; }

.static-page .section-wrap .section-row .timeline-end .login-component {
  margin: auto; }

@media (max-width: 768px) {
  .static-page .section-wrap .section-row.content-wrap {
    margin: 80px auto; }
  .static-page .section-wrap .section-row .section-title {
    font-size: 22px; }
  .static-page .section-wrap .section-row .subtitle {
    font-size: 18px; } }

.static-page .flex-grid {
  max-width: 900px;
  margin: 16px auto auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.static-page .flex-grid .grid-item {
  margin: 16px;
  text-align: center; }

.static-page .perks-grid {
  max-width: 780px; }

.static-page .perks-grid .grid-item {
  width: calc(100% / 4 - 32px);
  min-width: 160px;
  padding: 24px 16px; }

.static-page .perks-grid .grid-item img {
  height: 64px;
  width: auto;
  display: inline-block;
  margin-bottom: 16px; }

.static-page .perks-grid .grid-item p {
  color: #212121;
  display: block;
  font-size: 14px;
  line-height: normal; }

@media (max-width: 640px) {
  .static-page .perks-grid {
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around; }
  .static-page .perks-grid .grid-item {
    width: calc(100% / 4 - 8px);
    min-width: 136px;
    padding: 8px;
    margin: 12px 8px; } }

.static-page .positions-grid .grid-item {
  width: calc(100% / 3 - 32px);
  min-width: 260px;
  background: #fff;
  display: block;
  padding: 24px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #E0E0E0;
  box-shadow: 0 1px 2px #E0E0E0; }

.static-page .colors-grid .grid-item, .static-page .projects-grid .grid-item {
  -webkit-border-radius: 1px;
  display: -webkit-flex;
  display: -ms-flexbox;
  box-shadow: 0 1px 2px #E0E0E0; }

.static-page .positions-grid .grid-item .job-img {
  width: auto;
  height: 80px;
  margin: 0 0 16px; }

.static-page .positions-grid .grid-item .job-title {
  margin: 0 0 4px;
  color: #263238;
  line-height: normal;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.static-page .positions-grid .grid-item .tags {
  font-size: 12px;
  color: #546E7A;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.static-page .projects-grid .grid-item {
  width: calc(100% / 2 - 32px);
  min-width: 403px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #E0E0E0;
  background: #FFF;
  display: -webkit-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.static-page .projects-grid .grid-item img {
  width: 153px;
  height: 153px; }

.static-page .projects-grid .grid-item .block-info {
  width: calc(100% - 153px);
  padding: 16px; }

.static-page .projects-grid .grid-item .block-info p {
  text-align: left;
  font-size: 14px;
  margin: 0; }

.static-page .projects-grid .grid-item .block-info p.name {
  color: #212121;
  font-weight: 700; }

.static-page .projects-grid .grid-item .block-info p.info {
  color: #212121;
  margin: 12px 0; }

.static-page .projects-grid .grid-item .block-info p.site {
  color: #212121; }

@media (max-width: 460px) {
  .static-page .projects-grid .grid-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 250px;
    min-width: auto; }
  .static-page .projects-grid .grid-item img {
    width: 100%;
    height: auto; }
  .static-page .projects-grid .grid-item .block-info {
    width: 100%; } }

.static-page .colors-grid .grid-item, .static-page .resource-grid .grid-item {
  min-width: 260px;
  background: #fff;
  -moz-border-radius: 1px;
  -webkit-box-direction: normal; }

.static-page .colors-grid {
  margin-top: 48px; }

.static-page .colors-grid .grid-item {
  width: calc(100% / 3 - 32px);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 1px;
  border: 1px solid #E0E0E0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.static-page .colors-grid .grid-item .block {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.static-page .colors-grid .grid-item .block.info-block {
  padding: 16px;
  width: 58px; }

.static-page .colors-grid .grid-item .block.info-block p {
  color: #757575;
  text-align: left;
  margin: 0;
  font-size: 14px; }

.static-page .colors-grid .grid-item .block.info-block p.info-title {
  color: #212121;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 700; }

.static-page .resource-grid {
  margin-top: 48px; }

.static-page .resource-grid .grid-item {
  width: calc(100% / 3 - 32px);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #E0E0E0;
  box-shadow: 0 1px 2px #E0E0E0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.static-page .resource-grid .grid-item .block {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.static-page .resource-grid .grid-item .block.color-block {
  height: 90px; }

.static-page .resource-grid .grid-item .block.color-block img {
  display: block;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eceff1; }

.static-page .resource-grid .grid-item .block.info-block {
  padding: 16px; }

.static-page .resource-grid .grid-item .block.info-block p {
  color: #757575;
  text-align: left;
  margin: 0;
  font-size: 14px; }

.static-page .resource-grid .grid-item .block.info-block p.info-title {
  color: #212121;
  font-size: 16px;
  font-weight: 700; }

.static-page .resource-grid .grid-item .block.info-block p.action {
  margin-top: 12px;
  font-weight: 600; }

.static-page .resource-grid .grid-item .block.info-block p i {
  margin: 2px; }

.static-page .legal-pages {
  width: 100%;
  max-width: 941px;
  margin: 0 auto; }

.static-page .legal-pages * {
  color: #212121; }

.static-page .single-career .career-meta-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 32px; }

.static-page .single-career .breadcrumb-list {
  margin: 0; }

.static-page .single-career .breadcrumb-list li {
  margin: 0 4px 0 0; }

.static-page .single-career .career-img {
  width: 100%;
  margin: 0 0 32px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.static-page .single-career .angel-apply {
  padding: 10px 24px;
  font-size: 14px;
  border: 1px solid #26C6DA;
  color: #757575;
  display: inline-block;
  border-radius: 2px;
  margin: 32px 0;
  font-weight: 600; }

.static-page .single-career .angel-apply svg {
  height: 16px;
  margin-right: 6px;
  position: relative;
  top: 2px; }

.static-page .single-career .apply-via p {
  margin: 0; }

.static-page .single-career .apply-via + .careers-apply-form {
  margin-top: 32px; }

.static-page .single-career .careers-apply-form {
  margin-top: 64px;
  margin-bottom: 64px; }

.static-page .single-career .careers-apply-form h3 {
  font-size: 20px;
  margin: 0 0 16px;
  line-height: normal;
  color: #263238; }

.static-page .single-career .careers-apply-form label {
  color: #546E7A;
  font-size: 14px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.static-page .single-career .careers-apply-form .form-column.title {
  width: 200px;
  margin-right: 20px; }

.static-page .single-career .careers-apply-form .form-column.title p {
  font-size: 14px; }

.static-page .single-career .careers-apply-form .form-column.input {
  width: calc(100% - 220px); }

@media (max-width: 640px) {
  .static-page .single-career .careers-apply-form .form-column.input {
    width: 100%; } }

.static-page .single-career .careers-apply-form input, .static-page .single-career .careers-apply-form textarea {
  height: auto;
  border: none;
  border-bottom: 2px solid #ECEFF1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 12px 0;
  margin: 0;
  background: 0 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.static-page .single-career .careers-apply-form input::-webkit-input-placeholder, .static-page .single-career .careers-apply-form textarea::-webkit-input-placeholder {
  color: #B0BEC5;
  font-weight: 400; }

.static-page .single-career .careers-apply-form input::-moz-placeholder, .static-page .single-career .careers-apply-form textarea::-moz-placeholder {
  color: #B0BEC5;
  font-weight: 400; }

.static-page .single-career .careers-apply-form input:-ms-input-placeholder, .static-page .single-career .careers-apply-form textarea:-ms-input-placeholder {
  color: #B0BEC5;
  font-weight: 400; }

.static-page .single-career .careers-apply-form input:focus, .static-page .single-career .careers-apply-form textarea:focus {
  border-bottom-color: #26C6DA; }

.static-page .single-career .careers-apply-form .form-submit {
  text-align: right;
  margin: 32px 0 0; }

.static-page footer {
  padding: 16px;
  background: #607D8B; }

.static-page footer .footer-wrap {
  max-width: 75rem;
  padding: 0 16px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between; }

.static-page footer .footer-wrap ul {
  margin: 2px 0; }

.static-page footer .footer-wrap ul li {
  margin: 0 8px; }

.static-page footer .footer-wrap ul a, .static-page footer .footer-wrap ul p {
  font-size: 14px;
  margin: 0;
  color: #fff;
  position: relative; }

.static-page footer .footer-wrap .social-icons svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  display: block;
  position: relative; }

.static-page footer .footer-wrap .social-icons .gh svg {
  width: 19px;
  height: 19px;
  top: -1px; }

@media (max-width: 640px) {
  .static-page footer .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .static-page footer .footer-wrap ul li {
    margin: 0 8px 8px; } }

.static-page .caro-wrap {
  position: relative; }

.static-page .caro-wrap .caro-nav a {
  position: absolute;
  color: #757575;
  top: 100px;
  font-size: 48px; }

.static-page .caro-wrap .caro-nav a.prev {
  left: 0; }

.static-page .caro-wrap .caro-nav a.next {
  right: 0; }

@media (max-width: 460px) {
  .static-page .caro-wrap .caro-nav {
    text-align: right;
    margin: 30px 0 -16px; }
  .static-page .caro-wrap .caro-nav a {
    position: static;
    font-size: 36px;
    left: 0;
    top: 0; } }

.static-page .caro-wrap .caro-body {
  max-width: 970px;
  margin: 48px auto 0;
  overflow: hidden; }

.static-page .caro-wrap .caro-body .caro-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  overflow: auto; }

.static-page .caro-wrap .caro-body .caro-list li {
  float: left;
  display: inline-block;
  margin: 0; }

.static-page .guidelines-box-row, .static-page .mern-modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; }

.static-page .caro-wrap .caro-body .prof-block {
  width: 288px; }

@media (max-width: 1100px) and (min-width: 768px) {
  .static-page .caro-wrap .caro-body {
    width: 640px; } }

@media (max-width: 768px) {
  .static-page .caro-wrap .caro-body {
    width: 320px;
    margin: 36px auto 0; } }

@media (max-width: 460px) {
  .static-page .caro-wrap {
    margin: 0 -32px; } }

.static-page .divider {
  width: 150px;
  margin: 24px auto;
  border-color: #cfd8dc; }

.static-page .mern-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.9);
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.static-page .mern-modal.show-modal {
  visibility: visible;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100); }

.hn-modal.appear, .static-page .mern-modal.show-modal .modal-content {
  -moz-opacity: 1;
  -webkit-opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); }

.static-page .mern-modal.show-modal .modal-content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100); }

.hn-modal, .static-page .mern-modal .modal-content {
  -moz-opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  visibility: hidden;
  -khtml-opacity: 0; }

.static-page .mern-modal .modal-content {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(200%);
  -moz-transform: translateY(200%);
  -o-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
  -webkit-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  width: 720px;
  height: 80%;
  max-height: 564px;
  background: #FFF;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #757575;
  text-align: center;
  padding: 48px; }

.static-page .mern-modal .modal-content .feat-img {
  width: 120px;
  display: inline-block;
  margin-bottom: 16px; }

.static-page .mern-modal .modal-content form {
  margin: 0;
  padding: 0; }

.static-page .mern-modal .modal-content input.email-field {
  border: 2px solid #757575;
  padding: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: 0;
  margin: 16px auto;
  width: 80%; }

.static-page .mern-modal .modal-content input.send-btn {
  display: block;
  margin: 16px auto;
  padding: 12px 16px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #757575;
  color: #FFF;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.static-page .mern-modal .modal-content .form-message {
  margin: 16px 0; }

.static-page .mern-modal .modal-content .form-message p {
  margin: 0;
  font-size: 18px;
  color: green; }

.static-page .mern-modal .modal-content .close-modal {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 20px;
  color: #757575; }

@media (max-width: 640px) {
  .static-page .mern-modal .modal-content {
    padding: 16px;
    max-height: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0; } }

.static-page .logo-illustration {
  display: block;
  max-width: 600px;
  margin: 48px auto 0; }

.static-page .reasons-area .section-slab {
  margin: 120px 0; }

.static-page .reasons-area .section-title, .static-page .reasons-area .subtitle {
  text-align: left; }

.static-page .reasons-area .final-slab .section-title, .static-page .reasons-area .final-slab .subtitle, .static-page .reasons-area .final-slab p {
  text-align: center; }

.static-page .reasons-area .final-slab .subtitle {
  margin-bottom: 32px; }

.static-page .invite-friends {
  margin-top: 24px; }

.static-page.paper .hero-section {
  height: 300px;
  padding-bottom: 120px; }

.static-page.paper .hero-section:before {
  background: #26c6da; }

.static-page.paper .section-wrap {
  position: relative;
  background: #eceff1; }

.static-page.paper .section-wrap .content-wrap {
  position: relative;
  margin: -120px auto 120px;
  padding: 48px;
  background: #fff;
  max-width: 990px;
  z-index: 150;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #E0E0E0;
  box-shadow: 0 1px 2px #E0E0E0; }

.static-page.paper .section-wrap .content-wrap .section-title, .static-page.paper .section-wrap .content-wrap .subtitle {
  text-align: left; }

.static-page.paper .section-wrap .content-wrap p {
  line-height: 1.5; }

.static-page.paper .section-wrap .content-wrap h3 + h4 {
  margin-top: 32px; }

.static-page.paper .section-wrap .content-wrap h4 + p {
  margin-bottom: 32px; }

@media (max-width: 768px) {
  .static-page.paper .section-wrap {
    padding: 0; }
  .static-page.paper .section-wrap .content-wrap {
    padding: 32px 16px;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; } }

.static-page .guidelines-box-row {
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.static-page .subnav {
  display: flex;
  align-self: center;
  text-align: center; }

.static-page .subnav li {
  float: none;
  display: inline-block; }

.static-page .subnav li a {
  padding: 13px 15px 10px;
  font-size: 13px;
  color: white;
  font-family: "Proxima Nova Condensed Bold","Proxima Nova Condensed","proxima-nova-condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px; }

.static-page .subnav li a.current, .static-page .subnav li a:hover {
  color: #FFF;
  background: rgba(255, 255, 255, 0.15); }

