<template>
  <style>
    footer .inline-list li>a {
      color: #585E5C;
      padding: 2px;
      border: 1px solid transparent;
      text-transform: uppercase;
    }
  </style>
<footer class="bg-white" style="height--: 55px">
  <div class="footer-wrap">
    <ul class="inline-list">
      <li>
        <p>
          © 2016 Cryptographix
          <!--a target="_blank" href="http://nascent.com.br">Nascent Technology Consultants Ltd.</a-->
        </p>
      </li>
      <!--li><a target="_blank" href="/about">About</a></li>
      <li><a target="_blank" href="/privacy">Privacy</a></li>
      <li><a target="_blank" href="/terms">Terms</a></li>
      <li><a target="_blank" href="/privacy" style="border: 1px solid #585E5C; border-radius: 3px; padding: 2px 7px;">Contact</a></li-->
    </ul>
    <ul class="social-icons inline-list">
      <li>
        <a class="tw" target="_blank" href="https://twitter.com/crypto_graphix">
          <svg viewBox="0 0 20 20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="gh" target="_blank" href="https://github.com/cryptographix">
          <svg viewBox="0 0 20 20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="ig" target="_blank" href="https://www.linkedin.com/company/cryptographix">
          <svg viewBox="0 0 20 20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="gp" target="_blank" href="https://plus.google.com/+CryptoGraphix">
          <svg viewBox="0 0 20 20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#google"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="fb" target="_blank" href="https://facebook.com/cryptographix">
          <svg viewBox="0 0 20 20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
</template>
