<template>
  <style>
    .about-page .row {
      margin-top: 60px;
      margin-bottom: 60px;
      background-color: #CCC;
    }

    .about-page .row:nth-of-type(even) {
      background-color: #884;
    }

    .content-area .subnav li a {
      color: #6Af456;
    }
  </style>
  <div class="content-area static-page">
    <section class="hero-section about-bg" style="flex-direction: column">
      <div class="hero-content">
        <p class="border-tag">Cryptographix decrypted</p>
        <h2>Informing and training developers, helping them to build a secure world</h2>
      </div>
      <ul class="subnav hide-for-small" style="xmargin-top: 20px; ">
        <li><a href="about#about-mission">Mission</a></li>
        <li><a href="about#about-why">Motivation</a></li>
        <li><a href="about#about-team">Team</a></li>
      </ul>
      </section>
    <section id="about-mission" class="section-wrap">
      <div class="section-row content-wrap">
        <div class="text-wrap">
          <h3 class="section-title">Our mission</h3>
          <p class="subtitle">
            Our mission at Cryptographix is to help software engineers get better at the art of designing and building secure software.
            <!--One of the best ways to do so is to learn from other developers. find informationconnect with developers from around
            the world, engage in discussions and know what&apos;s happening in the world of secure software development.-->
            CryptoGraphix aims to makes it easy to find quality knowledge and resources for all levels of developer - from apprentice to expert.
          </p>
        </div>
      </div>
    </section>
    <section id="about-why" class="section-wrap highlight">
      <div class="section-row content-wrap">
        <div class="text-wrap">
          <h3 class="section-title">Why we&apos;re building CryptoGraphix</h3>
          <p style="xfont-size: 1.125em;">
            After more than 20 years working with secure applications, our co-founder and president, Sean Michael Wykes, realized that software engineers urgently needed to get better at the art of designing and building secure software.
          </p>
        </div>
      </div>
    </section>
    <section id="about-team" class="section-wrap">
      <div class="section-row content-wrap">
        <div class="text-wrap">
          <h3 class="section-title">The Cryptographix Team</h3>
          <p class="subtitle">We are a small team of dedicated, experienced and enthusiastic professionals.</p>
        </div>
        <div class="feat-wrap">
          <div class="prof-block">
            <a href="/@seanwykes" target="_blank" class="prof-cover" style="background-image: url(&quot;https://static.cryptographix.org/assets/users/@seanwykes/user.jpg&quot;);"></a>
            <a href="/@seanwykes" target="_blank" class="prof-img"><img src="https://static.cryptographix.org/assets/assets/users/@seanwykes/user.jpg"></a>
            <div class="prof-info"><a class="name" href="/@seanwykes" target="_blank">Sean Wykes</a>
              <p class="tagline">Founder</p>
              <ul class="soc-links list-unstyled">
                <li><a href="/@seanwykes" target="_blank">@seanwykes</a></li>
                <li class="middot">
                  <p>·</p>
                </li>
                <li>
                  <a class="twitter" target="_blank" href="http://twitter.com/alkshendra_26">
                    <i class="mdi mdi-twitter"></i></a>
                  </li>
              </ul>
            </div>
          </div>
          <div class="prof-block">
            <a href="/@jairotondin" target="_blank" class="prof-cover" style="background-image: url(&quot;https://static.cryptographix.org/assets/users/@jairotondin/user.jpg&quot;);"></a>
            <a class="prof-img" target="_blank" href="/@jairotondin"><img src="https://static.cryptographix.org/assets/users/@jairotondin/user.jpg"></a>
            <div class="prof-info"><a class="name" target="_blank" href="/@jairotondin">Jairo Tondin</a>
              <p class="tagline">Technical</p>
              <ul class="soc-links list-unstyled">
                <li><a href="/@jairotondin" target="_blank">@jairotondin</a></li>
                <li class="middot">
                  <p>·</p>
                </li>
                <li><a class="twitter" target="_blank" href="http://twitter.com/Sandeepg33k"><i class="mdi mdi-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="prof-block">
            <a href="/@flaviocotta" target="_blank" class="prof-cover" style="background-image: url(&quot;https://static.cryptographix.org/assets/users/@flaviocotta/user.jpg&quot;);"></a>
            <a class="prof-img" target="_blank" href="/@flaviocotta"><img src="https://static.cryptographix.org/assets/users/@flaviocotta/user.jpg"></a>
            <div class="prof-info"><a class="name" target="_blank" href="/@flaviocotta">Flavio Cotta</a>
              <p class="tagline">Design</p>
              <ul class="soc-links list-unstyled">
                <li><a href="/@flaviocotta" target="_blank">@flaviocotta</a></li>
                <li class="middot">
                  <p>·</p>
                </li>
                <li><a class="twitter" target="_blank" href="http://twitter.com/flaviocotta"><i class="mdi mdi-twitter"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="prof-block">
            <a href="/@thiagolo" target="_blank" class="prof-cover" style="background-image: url(&quot;https://static.cryptographix.org/assets/users/@thiagolo/user.jpg&quot;);"></a>
            <a class="prof-img" target="_blank" href="/@thiagolo"><img src="https://static.cryptographix.org/assets/users/@thiagolo/user.jpg"></a>
            <div class="prof-info"><a class="name" target="_blank" href="/@thiagolo">Thiago Lo</a>
              <p class="tagline">Engineering</p>
              <ul class="soc-links list-unstyled">
                <li><a href="/@thiagolo" target="_blank">@thiagolo</a></li>
                <li class="middot">
                  <p>·</p>
                </li>
                <li><a class="twitter" target="_blank" href="http://twitter.com/_saikishore"><i class="mdi mdi-twitter"></i></a></li>
              </ul>
            </div>
          </div>
      </div>
    </section>
  </div>
  <script>
  var navEl = $('.main-nav li a');
  navEl.removeClass('active')
    .eq(1).addClass('active');
  </script>
</template>
