<template>
<require from="../subscribe" as="subscribe-section"></require>
<style>
.landing-page .section-1 {
    height: 42rem;
    background: url(static/images/logo/texture_home.png) #060635 repeat;
    #background-size: cover;
    position: relative;
}

.landing-page .section-1 .bk-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.3);
    z-index: 10;
}

.full-height {
    height: 100%;
}

.landing-page .section-1 .content-layer {
    position: relative;
    z-index: 20;
}

.landing-page .section-1 .content-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.landing-page .section-1 .content-wrapper .text-container {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

.landing-page .section-1 .content-wrapper .text-container h2 {
    font-size: 2.5rem;
    color: #FFF;
    margin: 0;
    line-height: normal;
}
.landing-page .section-1 .overlay-layer {
    position: absolute;
    top: calc(100vh - 4rem - 5rem);
    left: 0;
    height: 5rem;
    width: 100%;
    xbackground: rgba(0,0,0,.3);
    z-index: 30;
}

.landing-page .section-2 {
    background: #F1F2F2;
    background-size: cover;
    position: relative;
    padding: 6rem 1.5rem;
}

.landing-page .section-2 .secondary-title {
  font-size: 3.25rem;
  color: #455A64;
  margin: 1.5rem 0;
  line-height: normal;
  text-align: center;
  font-weight: 100;/*light*/
}

.landing-page .section-2 .about-section p {
  margin: 0.75rem 0;
  font-size: 1rem;
}

.landing-page .section-2 p {
  color: #3585e5c;
}

.landing-page .section-3 {
    background: #F1F2F2;
    background-size: cover;
    position: relative;
    padding: 6rem 1.5rem;
}

.landing-page .section-3 .secondary-title {
  font-size: 3.25rem;
  color: #4150a0;
  margin: 1.5rem 0;
  line-height: normal;
  text-align: center;
  font-weight: 100;/*light*/
}

.landing-page .section-3 p {
  color: #3585e5c;
}
.section-3 span {
  display: block;
  text-align: center;
  color: #3585e5c;
}
.section-3 .topic-image {
  display: block;
  margin: auto;
  padding: 1.5rem;
}
.section-3 .topic-title {
  font-size: .875rem;
}
.section-3 .topic-detail {
  font-size: .8125rem;
}

.section-2 span {
  display: block;
  text-align: center;
  color: #3585e5c;
}
.section-2 .topic-image {
  display: block;
  margin: auto;
  padding: 1.5rem;
}
.section-2 .topic-title {
  font-size: 2rem;
}
.section-2 .topic-detail {
  font-size: .8125rem;
  color: #585e5c;
  font-size: 110%;
}




.sprite {
  position: absolute;
  animation: glitter 3s linear 0s forwards;
  width: 48px;
  height: 48px;
  opacity: 0;
}
.sprite .letter {
  position: absolute;
  top: 0px; left: 0px;
  z-index: 15;
  background: url(static/images/logo/letters_blue_cryptographix.png);
  width: 48px;
  height: 48px;
}
.sprite .twinkle {
  position: absolute;
  top: 0px; left: 0px;
  z-index: 20;
  background: url(static/images/logo/letters_shine_cryptographix.png);
  width: 48px;
  height: 48px;
  animation: twinkle 0.5s linear 0s infinite normal;
}

@keyframes twinkle {
  0%,100% { opacity: 0 }
  50% { opacity: 0.3 }
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
@keyframes glitter {
 0%    { transform: scale(0.5); opacity: 0; }
 50%   { transform: scale(1.0); opacity: 1; }
 100%  { transform: scale(0.5); opacity: 0; }
}

</style>

<div class="content-area landing-page" onclick="next()">
  <section class="section-1">
    <div id="cover-sprites">
      <div class='sprite' style="top: 96px; left: 96px;">
        <div class="letter"></div>
        <div class="twinkle"></div>
      </div>
    </div>
    <div class="bk-layer"></div>
    <div class="row full-height content-layer">
      <div class="small-12 full-height column">
        <div class="content-wrapper">
          <div class="row text-container">
            <img src="static/images/logo/logo_home.png">
            <br/>
          </div>
        </div>
      </div>
    </div>
    <!--div class="overlay-layer row" style="">
      <div class="column medium-4 centered" style="background-color: #888; border-radius: 20px;">
        <div class="small-12"><h1 style="text-align: center;"><span style="color: white;">Subscribe</span></h1></div>
      </div>
    </div-->
  </section>

  <section class="section-2">
    <div class="row">
      <div class="medium-8 medium-offset-2 small-12 column">
        <h2 class="secondary-title" style="font-weight: bold">Welcome to CryptoGraphix</h2>
        <h3 class="text-center"><em>Our mission</em> &dash; to inform and educate application designers and developers about
          secure application development techniques and cryptographic technologies</h3>
        <hr class="divider">
        <p class="text-larger">We're building Cryptographix to be a <em>hub</em> for developers and engineers
          who care about application security &dash; front-end, back-end, mobile or embedded.
        </p>
        <p class="text-larger">Our focus is helping you to build more secure products and systems, so whether you're just curious, taking your first steps in application security, actively design and develop applications
          or are a seasoned profissional, we aim to have something for everyone: Take a look at what we are planning:
        </p>
      </div>
    </div>
    <div class="row full-height">
      <div class="row" style="height: 16rem !important;" xhref="/explore">
        <a class="medium-4 medium-offset-4 column">
          <img class="topic-image" src="/static/images/sections/explore/icon_explore_soon.png"></img>
          <span class="topic-title text-cgx-mustard">CRYPTO<b style="font-weight:900;">EXPLORE</b></span>
          <span class="topic-detail">Explore a world of information, articles and writeups,
            links, questions &amp; answers, ideas, problems and solutions.
            Interact with experts and peers from the Cryptographix community</span>
          <br/>
          <!--span><button type="submit" class="button bg-cgx-mustard text-larger" style="color: white; padding-left: 60px; padding-right: 60px; text-transform: uppercase; border-radius: 5px;">Explore</button></span-->
        </a>
      </div>
      <div class="row" style="height: 16rem!;">
        <a class="medium-4 medium-offset-1 column" xhref="/laboratory">
          <img class="topic-image" src="/static/images/sections/laboratory/icon_laboratory_soon.png"></img>
          <span class="topic-title text-cgx-med-blue">CRYPTO<b style="font-weight:900;">LAB</b></span>
          <span class="topic-detail">Online tools to create, test, debug, inspect and visualize
            security and cryptographic-related data.
            Experiment with cards, tokens, cryptograms, keys, certificates, transactions, and much much more</span>
          <br/>
          <!--span><button type="submit" class="button bg-cgx-med-blue text-larger" style="color: white; padding-left: 60px; padding-right: 60px; text-transform: uppercase; border-radius: 5px;">Experiment</button></span-->
        </a>
        <a class="medium-4 medium-push-2 column end" xhref="/library">
          <img class="topic-image" src="/static/images/sections/library/icon_library_soon.png"></img>
          <span class="topic-title text-cgx-rose">CRYPTO<b style="font-weight:900;">LIBRARY</b></span>
          <span class="topic-detail">Browse our knowledge-base, crypto-dictionary, articles, books,
            videos, links, tutorials, lessons and a lot more.
            Search, filter and organize results by skill-level, topic or keyword</span>
          <br/>
          <!--span><button type="submit" class="button bg-cgx-rose text-larger" style="color: white; padding-left: 60px; padding-right: 60px; text-transform: uppercase; border-radius: 5px;">Search</button></span-->
        </a>
      </div>
      <div class="row" style="height: 16rem!;">
        <a class="medium-4 medium-offset-4 column" xhref="/school">
          <img class="topic-image" src="/static/images/sections/school/icon_school_soon.png"></img>
          <span class="topic-title text-cgx-light-blue">CRYPTO<b style="font-weight:900;">SCHOOL</b></span>
          <span class="topic-detail">Learn new skills or improve with our tutorials and online courses.
            With a focus on practical knowledge and best practices, you'll soon be designing,
            developing and testing secure applications.</span>
          <br/>
          <!--span><button type="submit" class="button bg-cgx-light-blue text-larger" style="color: white; padding-left: 60px; padding-right: 60px; text-transform: uppercase; border-radius: 5px;">Learn</button></span-->
        </a>
      </div>
    </div>
  </section>

  <section class="section-3" style="background-color: #ddd;">
    <div class="row">
      <div class="medium-8 medium-offset-2 small-12 column">
        <h2 class="secondary-title">Here's a few of the topics we'll be covering</h2>
        <!--p style="text-align: center;">Just click on one</p-->
      </div>
    </div>
    <div class="row">
      <div class="small-12 column">
        <div class="row">
          <a class="medium-2 medium-offset-1 small-6 column">
            <img class="topic-image" src="/static/images/topics/general_security_88px.png"></img>
            <span class="topic-title">APP SECURITY</span>
            <span class="topic-detail">Secure Applications are <em>Secure by Design</em>, built using <em>Secure Dev Methods</em>, and <em>Tested for Security</em></span>
          </a>
          <a class="medium-2 small-6 column">
            <img class="topic-image" src="/static/images/topics/design_and_patterns_88px.png"></img>
            <span class="topic-title">DESIGN PATTERNS</span>
            <span class="topic-detail">Proven methods, designs and blueprints. Learn from the experts - make new mistakes but not old ones</span>
          </a>
          <a class="medium-2 small-6 column">
            <img class="topic-image" src="/static/images/topics/building_blocks_88px.png"></img>
            <span class="topic-title">BUILDING BLOCKS</span>
            <span class="topic-detail">Layered Security combining Cryptographic Primitives, Security Services and <br/>Secure Components</span>
          </a>
          <a class="medium-2 small-6 column">
            <img class="topic-image" src="/static/images/topics/applications_88px.png"></img>
            <span class="topic-title">APPLICATIONS</span>
            <span class="topic-detail">A world of applications and uses - Payments, Signatures, Communications, Data Protection and lots more</span>
          </a>
          <a class="medium-2 small-12 column end">
            <img class="topic-image" src="/static/images/topics/attacks_and_defences_88px.png"></img>
            <span class="topic-title">ATTACKS &amp; DEFENSES</span>
            <span class="topic-detail">White-hat techniques to protect against the bad guys. To defend, you must know how to attack</span>
          </a>
        </div>
        <div class="row">
          <a class="medium-2 medium-offset-1 column">
            <img class="topic-image" src="/static/images/topics/validation_88px.png"></img>
            <span class="topic-title">VALIDATION</span>
            <span class="topic-detail">Black, grey and white-box testing. Frameworks, Tools and Techniques for validation of secure components</span>
          </a>
          <a class="medium-2 column">
            <img class="topic-image" src="/static/images/topics/plataform_88px.png"></img>
            <span class="topic-title">SECURE PLATFORMS</span>
            <span class="topic-detail">Hardware and Software. Secure Elements and Smart-cards. Libraries, Components and Operating Systems</span>
          </a>
          <a class="medium-2 column">
            <img class="topic-image" src="/static/images/topics/historical_88px.png"></img>
            <span class="topic-title">HISTORICAL</span>
            <span class="topic-detail">Cryptography and information security through the ages. Epic successes and failures. Technology and Evolution</span>
          </a>
          <a class="medium-2 column">
            <img class="topic-image" src="/static/images/topics/perspectives_88px.png"></img>
            <span class="topic-title">PERSPECTIVES</span>
            <span class="topic-detail">Opinions, views and critical thinking. Stories and Cases. Ideas, Vision and Insights. Futurology</span>
          </a>
          <a class="medium-2 column end">
            <img class="topic-image" src="/static/images/topics/stories_and_studies_88px.png"></img>
            <span class="topic-title">PROFESSIONAL</span>
            <span class="topic-detail">App-Security and Crypto Engineering as a Profession. Jumpstarting your career. <br>Skills and Attitudes.</span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
function randInt( range ) {
  return Math.trunc( Math.random() * range );
}

// sprite container element
var sprites = $('#cover-sprites');

// get our template sprite and remove it from DOM
var sprite = sprites.find('.sprite').first()
sprite.remove();

function newSprite( ) {
  var spr = sprite.clone();

  // random letter or number
  spr.children().css( 'background-position', (48 * randInt( 36 ) ) + 'px 0px');

  // random position
  var x = 16 * (1 + randInt( ( window.innerWidth - 64 ) / 16 ) );
  var y = 16 * (1 + randInt( ( window.innerHeight - 64 ) / 16 ) );
  spr.css( 'left', x + "px").css( 'top', y + "px");

  // display it
  spr.appendTo( sprites );

  // kill and recreate after random timeout
  setTimeout( function faded() {
      spr.remove();
      newSprite();
    },
    500 + randInt( 3000 ) );
}

// create our set of sprites
for( var i = 1; i < 13; ++i ) {
  setTimeout( newSprite, 500 + randInt( 3000 ) );
}
</script>

<subscribe-section></subscribe-section>

</template>
