<template>
  <style>
  .text-larger {
      font-size: 110%;
  }
  .menu a {
    color: #fff;
  }
  </style>
  <section id="main" class="row expanded">
    <div style="height: 240px; background: url('static/images/sections/school/school_banner.jpg') center">
      <p class="text-center" style="font-size: 3rem; padding-top: 100px; line-height: 1; color: #FFF">
        WELCOME TO CRYPTO<b>SCHOOL</b>
      </p>
      <p class="text-center text-larger" style="color: #FFF; line-height: 1; ">
        Learn
      </p>
    </div>
    <div class="menu-centered" style="height: 40px; background-color: #3cb5d2; font-size: 90%; padding-top: 2px;">
      <ul class="menu hide-for-small " style="text-transform: uppercase">
        <li><a href="school#school-tutorials">Tutorials</a></li>
        <li><a href="school#school-courses">Courses</a></li>
        <li><a href="school#school-training">Training</a></li>
      </ul>
    </div>
  </section>

  <section id="callout" class="row expanded" style="background-color: #F1F2F2; min-height: 250px;">
    <div class="large-6 large-centered columns">
      <p class="text-center" style="font-size: 200%; padding-top: 100px; line-height: 1; color: #585E5C;">
        School Callout Text<br/>
        School Callout
        School Callout
      </p>
      <div class="text-center"><img src="static/images/sections/school/icon_school_soon.png" style="padding-top: 50px;"/></div>
      <p class="text-center text-larger" style="color: #585E5C; line-height: 1; padding-top: 40px;">
        Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff.
      </p>
      <p class="text-center text-larger" style="color: #585E5C; line-height: 1; padding-bottom: 100px;">
        Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff.
      </p>
    </div>
  </section>

  <section id="school-tutorials" style="background-color: #0E1331; min-height: 500px;">
    <div class="row" style="padding-top: 100px; padding-bottom: 100px">
      <div class="large-6 columns">
        <div class="text-center"><img src="static/images/sections/icon_school_soon.png" style="padding-top: 50px; height: 250px"/></div>
      </div>
      <div class="large-5 columns end">
        <p class="text-left text-larger" style="font-size: 200%; color: #FFFFFF;">
          Tutorials for everybody<br/>
        </p>
        <p class="text-left text-larger" style="color: #FFFFFF; line-height: 1.4;">
          Search for information. Search for information. Search for information. Search for information. Search for information. Search for information. Search for information
        </p>
      </div>
    </div>
  </section>

  <section id="school-courses" style="background-color: #F1F2F2; min-height: 500px;">
    <div class="row" style="padding-top: 100px; padding-bottom: 100px">
      <div class="large-5 columns large-push-1">
        <p class="text-right text-larger" style="font-size: 200%; color: #585E5C;">
          Courses for everybody<br/>
        </p>
        <p class="text-right text-larger" style="color: #585E5C; line-height: 1.4;">
          Search for information. Search for information. Search for information. Search for information. Search for information. Search for information. Search for information
        </p>
      </div>
      <div class="large-6 columns">
        <div class="text-center"><img src="static/images/sections/icon_school_soon.png" style="padding-top: 50px; height: 250px"/></div>
      </div>
    </div>
  </section>

  <section id="school-training" style="background-color: #3cb5d2; min-height: 500px;">
    <div class="row" style="padding-top: 100px; padding-bottom: 100px">
      <div class="large-6 columns">
        <div class="text-center"><img src="static/images/sections/icon_school_soon.png" style="padding-top: 50px; height: 250px"/></div>
      </div>
      <div class="large-5 columns end">
        <p class="text-left text-larger" style="font-size: 200%; color: #FFFFFF;">
          Training for everybody<br/>
        </p>
        <p class="text-left text-larger" style="color: #FFFFFF; line-height: 1.4;">
          Search for information. Search for information. Search for information. Search for information. Search for information. Search for information. Search for information
        </p>
      </div>
    </div>
  </section>

  <subscribe-section></subscribe-section>

  <section id="school-testimonials" style="background-color: #F1F2F2;">
    <div class="row">
      <div class="large-6 large-centered columns">
        <p class="text-center" style="font-size: 200%; padding-top: 100px; line-height: 1; color: #585E5C;">
          See what people are saying about CryptoSchool<br/>
        </p>
        <p class="text-center text-larger" style="color: #585E5C; line-height: 1; padding-top: 40px; padding-bottom: 40px;">
          Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff. Learn interesting stuff.
        </p>
      </div>
    </div>
    <div class="row" style="padding-bottom: 100px">

      <div class="large-5 columns large-push-1">
        <p class="text-left text-larger" style="font-size: 200%; color: #585E5C;">
          Great Training!<br/>
        </p>
        <p class="text-left text-larger" style="color: #585E5C; line-height: 1.4;">
          Search for information. Search for information. Search for information. Search for information. Search for information. Search for information. Search for information
        </p>
      </div>
      <div class="large-5 columns large-pull-1">
        <p class="text-left text-larger" style="font-size: 200%; color: #585E5C;">
          Really useful Tutorials!<br/>
        </p>
        <p class="text-left text-larger" style="color: #585E5C; line-height: 1.4;">
          Search for information. Search for information. Search for information. Search for information. Search for information. Search for information. Search for information
        </p>
      </div>
    </div>
  </section>

</template>
